---
import BentoItem from "./BentoItem.astro";
---

<section
  class={`
    w-full max-w-[1400px]
    grid grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto p-16 md:p-20
  `}
>
  <BentoItem class="col-span-10 md:col-span-6" title="PLAYMATS" subtitle="Catálogo de productos">
    <div 
      slot="image"
      class="
        absolute top-0 left-0 bottom-0
        h-full w-full
        group-hover:scale-110
        transition-scale duration-1000 ease-in-out
        opacity-90 -z-10
        bg-center bg-cover bg-no-repeat bg-blend-luminosity
      "
      style="background-image: url(/Playmat-Vitral-de-Tierras.jpg);"
    />
    <p slot="content" class="max-w-xl">
      Explora nuestra amplia variedad de playmats, diseñados para ofrecerte la mejor experiencia de juego. Desde diseños personalizados hasta opciones temáticas, tenemos algo para todos los gustos.
    </p>
  </BentoItem>
  <BentoItem class="col-span-10 md:col-span-4" title="LOGOS">
    <div 
      slot="image"
      class="
        absolute top-0 left-0 bottom-0
        h-full w-full
        group-hover:scale-110
        transition-scale duration-1000 ease-in-out
        opacity-90 -z-10
        bg-center bg-cover bg-no-repeat bg-blend-luminosity
      "
      style="background-image: url(/Logos.jpg);"
      data-src="/Logos.jpg"
    />
    <p slot="content" class="max-w-xl">
      Personaliza tu playmat con tu logo o diseño favorito. Ofrecemos una amplia gama de opciones para que puedas mostrar tu estilo único en cada partida.
    </p>
  </BentoItem>
  <BentoItem class="col-span-10 md:col-span-4" title="BORDADOS">
    <div 
      slot="image"
      class="
        absolute top-0 left-0 bottom-0
        h-full w-full
        group-hover:scale-110
        transition-scale duration-1000 ease-in-out
        opacity-90 -z-10
        bg-center bg-cover bg-no-repeat bg-blend-luminosity
      "
      style="background-image: url(/Bordados.jpg);"
      data-src="/Bordados.jpg"
    />
    <p slot="content" class="max-w-xl">
      Dale un toque especial a tu playmat con nuestros bordados personalizados. Elige entre una variedad de colores y estilos para hacer que tu juego sea aún más único.
    </p>
  </BentoItem>
  <BentoItem class="col-span-10 md:col-span-6" title="FUNDAS">
    <div 
      slot="image"
      class="
        absolute top-0 left-0 bottom-0
        h-full w-full
        group-hover:scale-110
        transition-scale duration-1000 ease-in-out
        opacity-90 -z-10
        bg-center bg-cover bg-no-repeat bg-blend-luminosity
      "
      style="background-image: url(/Fundas.jpg);"
      data-src="/Fundas.jpg"
    />
    <p slot="content" class="max-w-xl">
      Nuestras fundas están diseñadas para proteger tus cartas y accesorios de juego. Con una variedad de diseños y tamaños, encontrarás la funda perfecta para tus necesidades.
    </p>
  </BentoItem>
</section>
