---
import BentoItem from "./BentoItem.astro";
---

<section
  class={`
    w-full max-w-[1400px]
    grid grid-cols-10 auto-rows-[30rem] md:auto-rows-[25rem] gap-4
    mx-auto p-16 md:p-20
  `}
>
  <BentoItem class="col-span-10" title="Playmats" subtitle="Catálogo de productos" href="/cataloge">
    <div 
      slot="image"
      class="
        absolute top-0 left-0 bottom-0
        h-full w-full
        group-hover:scale-110
        transition-scale duration-1000 ease-in-out
        opacity-90 -z-10
        bg-center bg-cover bg-no-repeat bg-blend-luminosity
      "
      style="background-image: url(https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801198/Playmat-Vitral-de-Tierras_uklbn7.webp);"
    />
    <p slot="content" class="max-w-xl">
      Explora nuestra amplia variedad de playmats, diseñados para ofrecerte la mejor experiencia de juego. Desde diseños personalizados hasta opciones temáticas, tenemos algo para todos los gustos.
    </p>
  </BentoItem>
  <BentoItem class="col-span-10 md:col-span-4" title="Logos" href="/cataloge">
    <div 
      slot="image"
      class="
        absolute top-0 left-0 bottom-0
        h-full w-full
        group-hover:scale-110
        transition-scale duration-1000 ease-in-out
        opacity-90 -z-10
        bg-center bg-cover bg-no-repeat bg-blend-luminosity
      "
      style="background-image: url(https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801197/Logos_piizxy.webp);"
      data-src="/Logos.jpg"
    />
    <p slot="content" class="max-w-xl">
      Personaliza tu playmat con tu logo o diseño favorito. Ofrecemos una amplia gama de opciones para que puedas mostrar tu estilo único en cada partida.
    </p>
  </BentoItem>
  <BentoItem class="col-span-10 md:col-span-6" title="Mouspad Gamer" subtitle="Catálogo de productos" href="/cataloge">
    <div 
      slot="image"
      class="
        absolute top-0 left-0 bottom-0
        h-full w-full
        group-hover:scale-110
        transition-scale duration-1000 ease-in-out
        opacity-90 -z-10
        bg-center bg-cover bg-no-repeat bg-blend-luminosity
      "
      style="background-image: url(https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801197/Mouspad-Gamer_yau6cl.webp);"
    />
    <p slot="content" class="max-w-xl">
      Mejora tu experiencia de juego con nuestros mouspads gamer. Con superficies suaves y antideslizantes, son perfectos para cualquier tipo de juego. Disponibles en varios tamaños y diseños.
    </p>
  </BentoItem>
  <BentoItem class="col-span-10 md:col-span-6" title="Mouspad Corporativo" subtitle="Catálogo de productos" href="/cataloge">
    <div 
      slot="image"
      class="
        absolute top-0 left-0 bottom-0
        h-full w-full
        group-hover:scale-110
        transition-scale duration-1000 ease-in-out
        opacity-90 -z-10
        bg-center bg-cover bg-no-repeat bg-blend-luminosity
      "
      style="background-image: url(https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801197/Mouspad-Gamer_yau6cl.webp);"
    />
    <p slot="content" class="max-w-xl">
      Mejora tu experiencia de juego con nuestros mouspads gamer. Con superficies suaves y antideslizantes, son perfectos para cualquier tipo de juego. Disponibles en varios tamaños y diseños.
    </p>
  </BentoItem>
  <BentoItem class="col-span-10 md:col-span-4" title="Fundas" href="/cataloge">
    <div 
      slot="image"
      class="
        absolute top-0 left-0 bottom-0
        h-full w-full
        group-hover:scale-110
        transition-scale duration-1000 ease-in-out
        opacity-90 -z-10
        bg-center bg-cover bg-no-repeat bg-blend-luminosity
      "
      style="background-image: url(https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801197/Fundas_y8jq2w.webp);"
      data-src="/Fundas.jpg"
    />
    <p slot="content" class="max-w-xl">
      Nuestras fundas están diseñadas para proteger tus cartas y accesorios de juego. Con una variedad de diseños y tamaños, encontrarás la funda perfecta para tus necesidades.
    </p>
  </BentoItem>
</section>
