---
import Carousel from "@/components/Carousel.astro";

const ITEMS = [
  {
    id: '1',
    image: 'https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801198/Playmat-Vitral-de-Tierras_uklbn7.webp',
    title: 'Info 1',
  },
  {
    id: '2',
    image: 'https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801198/Info-Playmats_u4q0zr.webp',
    title: 'Info 2',
  },
  {
    id: '3',
    image: 'https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801197/Mouspad-Gamer_yau6cl.webp',
    title: 'Info 3',
  },
  {
    id: '4',
    image: 'https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801197/Info-Logos_ngvy1q.webp',
    title: 'Info 4',
  },
  {
    id: '5',
    image: 'https://res.cloudinary.com/dcxt2wrcm/image/upload/v1745801197/Info-Bordados_n8tl7d.webp',
    title: 'Info 5',
  }
]
---

<section class="w-full max-w-[1400px]
    mx-auto p-16 md:p-20">
  <Carousel items={ITEMS} title="Trabaja con nosotros"/>
</section>