@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";
/* Nunito */
@import "@fontsource/nunito";

/* Orbitron */
@import "@fontsource/orbitron";

@font-face {
  font-family: 'BatmanForever';
  src: url('/fonts/batmfa__.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #121212;
    --color-text: #ffffff;
    --color-surface: #1e1e1e;
    --color-border: #2e2e2e;
    --color-primary: #1e90ff;
    --color-accent: #ffffffd0;
    --btn-primary-bg: var(--color-accent);
    --btn-primary-text: #000000;
    --btn-hover-bg: #ffffff;
    --link-color: var(--color-primary);
    --link-hover-color: #90caff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #ffffff;
    --color-text: #000000;
    --color-surface: #e4e4e4;
    --color-border: #d3d3d3;
    --color-primary: #1e90ff;
    --color-accent: #000000;
    --btn-primary-bg: var(--color-accent);
    --btn-primary-text: #ffffff;
    --btn-hover-bg: #000000;
    --link-color: var(--color-primary);
    --link-hover-color: #0073e6;
  }
}

.dark {
  --color-background: #121212;
    --color-text: #ffffff;
    --color-surface: #1e1e1e;
    --color-border: #2e2e2e;
    --color-primary: #1e90ff;
    --color-accent: #ffffffd0;
    --btn-primary-bg: var(--color-accent);
    --btn-primary-text: #000000;
    --btn-hover-bg: #ffffff;
    --link-color: var(--color-primary);
    --link-hover-color: #90caff;
}

.light {
  --color-background: #ffffff;
    --color-text: #000000;
    --color-surface: #e4e4e4;
    --color-border: #d3d3d3;
    --color-primary: #1e90ff;
    --color-accent: #000000;
    --btn-primary-bg: var(--color-accent);
    --btn-primary-text: #ffffff;
    --btn-hover-bg: #000000;
    --link-color: var(--color-primary);
    --link-hover-color: #0073e6;
}

.font-heading {
  font-family: "Orbitron", sans-serif;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto 3fr auto;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s ease-in-out;
  font-family: "Nunito", sans-serif;
}

a {
  color: var(--link-color);
  transition: color 0.3s;
}

a:hover {
  color: var(--link-hover-color);
}

button {
  @apply cursor-pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "BatmanForever", sans-serif;
}