@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";

:root {
  --color-background: #ffffff;
  --color-text: #000000;
  --color-surface: #f5f5f5;
  --color-border: #d3d3d3;
  --color-primary: #1e90ff;
  --color-accent: #ff4500;
  --btn-primary-bg: var(--color-accent);
  --btn-primary-text: #ffffff;
  --btn-hover-bg: #e03e00;
  --link-color: var(--color-primary);
  --link-hover-color: #0073e6;
}

.dark {
  --color-background: #121212;
  --color-text: #ffffff;
  --color-surface: #1e1e1e;
  --color-border: #2e2e2e;
  --color-primary: #1e90ff;
  --color-accent: #ff5722;
  --btn-primary-bg: var(--color-primary);
  --btn-primary-text: #ffffff;
  --btn-hover-bg: #e64a19;
  --link-color: var(--color-primary);
  --link-hover-color: #90caff;
}

html {
  color-scheme: light dark;
}

body {
  display: grid;
  grid-template-rows: 80px 1fr 100px;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s ease-in-out;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--link-hover-color);
}

button {
  @apply cursor-pointer;
}