---
import { FabricCanvas } from "@/components/FabricCanvas";
import Layout from "@/layouts/Layout.astro";
import { ControlPanel } from "@/components/Customization/ControlPanel";
import { TotalPrice } from "@/components/Customization/TotalPrice";

---

<Layout title="Playmats EC - Personaliza tu producto">
	<section 
		class="
			flex flex-col gap-4
			w-full max-w-screen-xl mx-auto
			p-8 md:p-12
		">
		<div class="flex w-full justify-evenly items-center sticky top-16 z-40 bg-[var(--color-background)]">
			<h1 class="w-full">Personaliza tu producto</h1>
			<div class="flex justify-end text-2xl p-4 w-full">
				<TotalPrice client:visible />
			</div>
		</div>
		<div class="flex flex-col-reverse lg:flex-row gap-4">
			<div class="w-full lg:max-w-[800px] flex lg:sticky top-32 self-start justify-center">
				<FabricCanvas client:only />
			</div>
			<ControlPanel client:only/>
		</div>
	</section>
</Layout>