---
import { FabricCanvas } from "@/components/FabricCanvas";
import Layout from "@/layouts/Layout.astro";
import { ControlPanel } from "@/components/Customization/ControlPanel";
import { TotalPrice } from "@/components/Customization/TotalPrice";

---

<Layout title="Playmats EC - Personaliza tu producto">
	<section 
		class="
			flex flex-col gap-4
			w-full mx-auto
			p-8 md:p-12
		">
		<div class="flex w-full justify-evenly items-center sticky top-16 z-40 bg-[var(--color-background)]">
			<h1 class="w-full">Personaliza tu producto</h1>
			<div class="flex justify-end text-2xl p-4 w-full">
				<TotalPrice client:visible />
			</div>
		</div>
		<div class="flex flex-col-reverse relative 2xl:flex-row gap-4">
			<div class="w-full min-w-[900px] 2xl:max-w-[950px] flex 2xl:sticky top-32 self-start justify-center transition-all duration-200 ease-in-out">
				<FabricCanvas client:only />
			</div>
			<ControlPanel client:only/>
		</div>
	</section>
</Layout>