---
import { PaymentForm } from "@/components/Payment/PaymentForm";
import { AccordionWrapper } from "@/components/Payment/AccordionWrapper";
import Layout from "@/layouts/Layout.astro";
import PaymentSummary from "@/components/Payment/PaymentSummary";

---
<Layout title="Playmats EC - Pago">
  <section class="w-full max-w-screen-xl mx-auto p-8 md:p-12">
    <h1 class="text-2xl mb-6">Confirmar Pedido</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
      <div class="order-2 md:order-1 flex self-start sticky top-20">
        <PaymentSummary client:visible />
      </div>
      <div class="order-1 md:order-2">
        <article class="w-full max-w-lg flex flex-col gap-2">
          <h2 class="text-base">Dirección de envío:</h2>
          <AccordionWrapper client:visible />
          <p class="m-block-1lh mt-5">
            Para que podamos crear tu tapete, necesitamos que subas la imagen del <strong>comprobante de pago.</strong>
          </p>
          <PaymentForm client:visible/>
        </article>
      </div>
    </div>
  </section>
</Layout>