---
import Layout from "@/layouts/Layout.astro";
import Chat from "@/components/AIChat/chat";

---
<Layout title="Playmats EC - Ordenes">
	<section class="w-full max-w-5xl mx-auto px-4 md:px-6 py-8 md:py-12">
		<Chat client:load />
	</section>
</Layout>