---
import WhatsappIcons from "./icons/WhatsappIcons.astro";
import FacebookIcon from "./icons/FacebookIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
---

<section id="contact" class="w-full max-w-[1400px]
    mx-auto p-16 md:p-20">
    <div class="w-full max-w-7xl mx-auto mb-2 flex flex-col md:flex-row md:justify-between gap-10">
      
      <!-- Sección About -->
      <div class="flex-1">
        <h3 class="text-lg font-bold mb-4">Playmats Ecuador</h3>
        <p class="text-pretty">Personaliza tus playmats con tus imágenes, textos y diseños favoritos.</p>
      </div>
      
      <!-- Sección Links -->
      <div class="flex-1">
        <h4 class="text-base font-semibold mb-4">Enlaces</h4>
        <ul class="space-y-2">
          <li>
            <a href="/cataloge" class="hover:underline hover:text-white transition-colors">Catálogo</a>
          </li>
          <li>
            <a href="/customise" class="hover:underline hover:text-white transition-colors">Personalizar</a>
          </li>
          <li>
            <a href="mailto:" class="hover:underline hover:text-white transition-colors" rel="noopener noreferrer">Contacto</a>
          </li>
        </ul>
      </div>
      
      <!-- Sección Contacto -->
      <div class="flex-1 flex flex-col gap-2">
        <h4 class="text-base font-semibold mb-2">Contacto</h4>
        <p class="flex items-center gap-2"><WhatsappIcons class="size-4" /> <a href="http://wa.me/593998837649" target="_blank" rel="noopener noreferrer" class="hover:underline hover:text-white transition-colors">
          099 883 7649
        </a></p>
        <p class="flex items-center gap-2"><FacebookIcon class="size-4"/>
          <a href="https://www.facebook.com/PlayMatsEcuador" rel="noopener noreferrer" target="_blank" class="hover:underline hover:text-white transition-colors">Facebook</a></p>
        <p class="flex items-center gap-2"><InstagramIcon class="size-4"/>
          <a href="https://www.instagram.com/playmats_ecuador" rel="noopener noreferrer" target="_blank" class="hover:underline hover:text-white transition-colors">Instagram</a></p>
      </div>
    </div>
  
    <div class="border-t border-neutral-700 text-center py-4 px-6 text-xs">
      &copy; 2025 Playmats Ecuador. Todos los derechos reservados.
    </div>  
</section>