---
import { Cart } from "@/components/Cart.tsx"
import { 
  SignInButton, 
  SignUpButton, 
  SignedIn, 
  SignedOut, 
  UserButton 
} from '@clerk/astro/components';
import Menu from "@/components/Menu.astro"
import NavLink from "@/components/NavLink.astro"
import { Image } from "astro:assets"
import AddressIcon from "./icons/AddressIcon.astro";
import { AddressesClerk } from "@/components/Address/AddressesClerk";
import { ModeToggle } from "@/components/ModeToggle";
import { checkUserAuth } from "@/utils/authUtils";

const { isAuthorized } = await checkUserAuth(Astro, 'ADMIN');
---
<div class="relative flex items-center justify-between py-4 px-8 " transition:persist>
  <a href="/" class="z-100">
    <h1 class="flex items-center gap-2">
      <Image src="/images/Playmats-EC-Logo.png" width={40} height={40} alt="logo playmats ecuador" />
      <span class="text-xs sm:text-sm md:text-lg">PlayMats EC</span>
    </h1>
  </a>
  <ul class="hidden md:flex space-x-4">
    <li><NavLink href="/">Inicio</NavLink></li>
    <li><NavLink href="/cataloge">Catalogo</NavLink></li>
    <li><NavLink href="/customise">Personalizar</NavLink></li>
    <li><NavLink href="/orders">Mis Ordenes</NavLink></li>
    <li><NavLink href="#contact">Contacto</NavLink></li>
    {isAuthorized && (
      <li><NavLink href="/admin">Administraci贸n</NavLink></li>
    )}
  </ul>
  <div class="flex items-center gap-2">
  <Cart client:visible transition:persist transition:persist-props />
    <div class="flex gap-2">
      <ModeToggle client:visible />
      <Menu isAuthorized={isAuthorized} />
      <SignedIn>
        <UserButton>
          <UserButton.MenuItems>
            <UserButton.Action label="Direcci贸n" open="direccion">
              <AddressIcon slot="label-icon" class="w-4 h-4" />
            </UserButton.Action>
          </UserButton.MenuItems>

          <UserButton.UserProfilePage label="Direcci贸n" url="direccion">
            <AddressIcon slot="label-icon" class="w-4 h-4" />
            <div class="w-full">
              <AddressesClerk client:visible />
            </div>
          </UserButton.UserProfilePage>
        </UserButton>
      </SignedIn>
      <SignedOut>
        <div class="flex items-center gap-2">
          <SignInButton mode="modal" class={'text-sm bg-[var(--color-surface)] hover:bg-[var(--color-surface-hover)] transition-all duration-300 ease-in-out rounded-md py-1 px-2'}>
            Iniciar sesi贸n
          </SignInButton>
          <SignUpButton mode="modal" class={'text-sm bg-[var(--color-primary)] hover:bg-[var(--color-primary-hover)] text-white transition-all duration-300 ease-in-out rounded-md py-1 px-2'}>
            Registrarse
          </SignUpButton>
        </div>
      </SignedOut>
    </div>
  </div>
</div>
