---
import { Cart } from "@/components/Cart.tsx"
import MoonStarIcon from "@/components/icons/MoonStarIcon.astro"
import SunIcon from "@/components/icons/SunIcon.astro"
import { 
  SignInButton, 
  SignUpButton, 
  SignedIn, 
  SignedOut, 
  UserButton 
} from '@clerk/astro/components';
import Menu from "@/components/Menu.astro"
import NavLink from "@/components/NavLink.astro"
import { Image } from "astro:assets"
import AddressIcon from "./icons/AddressIcon.astro";
import { AddressesClerk } from "@/components/Address/AddressesClerk";
---
<div class="relative flex items-center justify-between py-4 px-8 ">
  <a href="/" class="z-100">
    <h1 class="flex items-center gap-2">
      <Image src="/images/Playmats-EC-Logo.png" width={40} height={40} alt="logo playmats ecuador" />
      <span class="text-xs sm:text-sm md:text-lg">PlayMats EC</span>
    </h1>
  </a>
  <ul class="hidden md:flex space-x-4">
    <li><NavLink href="/">Inicio</NavLink></li>
    <li><NavLink href="/cataloge">Catalogo</NavLink></li>
    <li><NavLink href="/customise">Personalizar</NavLink></li>
    <li><NavLink href="#contact">Contacto</NavLink></li>
  </ul>
  <div class="flex items-center gap-2 md:gap-0">
    <Cart client:load transition:persist/>
    <div class="flex gap-2">
      <button id="theme-button" class="hidden hover:bg-[var(--color-surface)] transition-all duration-300 ease-in-out rounded-md p-2 md:flex">
        <span class="dark:hidden"><MoonStarIcon /></span>
        <span class="hidden dark:inline"><SunIcon /></span>
        <span class="sr-only">Toggle theme</span>
      </button>
      <Menu />
      <SignedIn>
        <UserButton>
          <UserButton.MenuItems>
            <UserButton.Action label="Dirección" open="direccion">
              <AddressIcon slot="label-icon" class="w-4 h-4" />
            </UserButton.Action>
          </UserButton.MenuItems>

          <UserButton.UserProfilePage label="Dirección" url="direccion">
            <AddressIcon slot="label-icon" class="w-4 h-4" />
            <div class="w-full">
              <AddressesClerk client:load />
            </div>
          </UserButton.UserProfilePage>
        </UserButton>
      </SignedIn>
      <SignedOut>
        <div class="flex items-center gap-2">
          <SignInButton mode="modal" class={'text-sm bg-[var(--color-surface)] hover:bg-[var(--color-surface-hover)] transition-all duration-300 ease-in-out rounded-md py-1 px-2'}>
            Iniciar sesión
          </SignInButton>
          <SignUpButton mode="modal" class={'text-sm bg-[var(--color-primary)] hover:bg-[var(--color-primary-hover)] text-white transition-all duration-300 ease-in-out rounded-md py-1 px-2'}>
            Registrarse
          </SignUpButton>
        </div>
      </SignedOut>
    </div>
  </div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    document.querySelector("#theme-button")?.addEventListener("click", () => {
      const theme = localStorage.getItem("theme");
      if (theme === "dark") {
        document.documentElement.classList.remove("dark");
        document.documentElement.classList.add("light");
        localStorage.setItem("theme", "light");
      } else if (theme === "light") {
        document.documentElement.classList.add("dark");
        document.documentElement.classList.remove("light");
        localStorage.setItem("theme", "dark");
      }
    });
  });
</script>