---
import { ClientRouter } from 'astro:transitions'
import '@/styles/global.css'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'

const { title } = Astro.props
---
<!doctype html>
<html lang="es" class="">
	<head>
		<script is:inline>
			try {
				if (localStorage.theme === "dark") {
					document.documentElement.classList.remove('light');
					document.documentElement.classList.add('dark');
				} else if (localStorage.theme === "light") {
					document.documentElement.classList.remove('dark');
					document.documentElement.classList.add('light');
				} else {
					if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
						document.documentElement.classList.remove('light');
						document.documentElement.classList.add('dark');
						localStorage.setItem('theme', 'dark');
					} else {
						document.documentElement.classList.remove('dark');
						document.documentElement.classList.add('light');
						localStorage.setItem('theme', 'light');
					}
				}
			} catch (e) {}
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/Playmats-EC-Logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<header class="sticky top-0 z-50 bg-[var(--color-background)]">
			<Header />
		</header>
		<main class="relative flex flex-col items-center">
			<slot />
		</main>
		<footer>
			<Footer />
		</footer>		
	</body>
</html>

<script is:inline>
	function applyTheme() {
		if (localStorage.theme === "dark") {
			document.documentElement.classList.remove('light');
			document.documentElement.classList.add('dark');
		} else if (localStorage.theme === "light") {
			document.documentElement.classList.remove('dark');
			document.documentElement.classList.add('light');
		}
		}
	
		document.addEventListener("astro:after-swap", applyTheme);
		applyTheme();
	</script>