---
import Layout from "@/layouts/Layout.astro";
import { ProductsManager } from "@/components/Admin/Products/ProductsManager";
import { checkAuthAndRedirect } from "@/utils/authUtils";

const redirectResult = await checkAuthAndRedirect(Astro, 'ADMIN');
if (redirectResult) return redirectResult;
---

<Layout title="Administración de Productos - Playmats Ecuador">
  <main class="
            flex flex-col gap-4
            w-full max-w-screen-xl mx-auto
            p-8 md:p-12
        ">
    <ProductsManager client:load />
  </main>
</Layout>
