---
import { ResourcesManager } from "@/components/Admin/ResourcesManager";
import Layout from "@/layouts/Layout.astro";
import { checkAuthAndRedirect } from "@/utils/authUtils";

const redirectResult = await checkAuthAndRedirect(Astro, 'ADMIN');
if (redirectResult) return redirectResult;
---

<Layout title="Administración de Recursos - Playmats Ecuador">
  <main class="
			flex flex-col gap-4
			w-full max-w-screen-xl mx-auto
			p-8 md:p-12
		">
    <ResourcesManager client:visible />
  </main>
</Layout>
